
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 59px;
    padding: 40px 155px 66px 172px;
    position: fixed;
    background: #ffffff;
    border-bottom: 2px solid #eee;
    top: 0;
    left: 0;
    right: 0;
}
.conteiner {
    display: flex;
    justify-content: space-between;
}
.nav-switch {
    display: flex;
    align-items: center;
}
header .nav-text a {
    padding-right: 55px;
    color: #666;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;    
}
.nav-text a:hover {
    color: #13B0F5;
}
header .nav-img {
    margin-right: 20px;
}
header .nav-img a {
    padding-left: 20px;
    text-decoration: none;
    fill: #666666;
}
header .nav-img a svg:hover {
   fill: #13B0F5;
}
main{
    margin-top: 200px;
}
.desktop-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1204px;
    margin-left: 100px;
}
.desktop-2 {
    margin-top: 75px;
}
.greeting {
    width: 636px;
    color: var(--Solid-Heading, #42446E);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}
.greeting span {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.portfolio-photo img {
    width: 349px;
    height: 349px;
}
.about-myself {
    width: 708px;
    margin-left: 174px;
}
.about-myself h2 {
    color: #42446E;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
    padding-bottom: 38px;
}
.about-myself p {
    color: var(--dark-content, #666);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.work {
    width: 704px;
    margin-left: 172px;
    margin-top: 38px;
}
.work h2 {
    color: var(--Solid-Heading, #42446E);
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
    padding-bottom: 10px;
}
.work-experience1,
.work-experience2,
.work-experience3 {
    border-bottom: 2px solid var(--colors-grey, #EBEAED);
    padding-bottom: 19px;
    padding-top: 30px;
}
.block-1,
.block-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.job-title {
    color: var(--dark-content, #666);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}
.marker {
    color: var(--Button-text, #018C0F);
    text-align: center;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.marker button {
    color: var(--Button-text, #018C0F);
    text-align: center;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    width: 84px;
    height: 24px;
    background:#D7FFE0;
    border: 2px solid #D7FFE0;
    border-radius: 100px;
}
.name,
.address,
.data {
    color: var(--light-Content, #A7A7A7);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1px;
}
.address {
    margin-right: 126px;
}
footer {
    margin-top: 60px;
    width: 1193px;
    margin-left: 172px;
}
footer .nav-img a {
    padding-left: 20px;
    text-decoration: none;
    fill: #666666;
}
footer .part-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(102, 102, 102, 0.3);
    padding-bottom: 19px;
    padding-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
}
footer .contacts a {
    color: var(--Solid-Heading, #42446E);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    text-decoration: none;
    padding-right: 50px;
}
footer .contacts a:hover {
    color: #13B0F5;
}
footer .nav-img a svg:hover {
   fill: #13B0F5;
}

footer .part-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
footer .nav-text a {
    color: var(--Solid-Heading, #42446E);
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding-right: 50px;  
}
footer .nav-text a:hover {
    color: #13B0F5;
}
footer .copywrite {
    color: var(--dark-content, #666);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
footer .copywrite span {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

@media (max-width:1200px) {
    header {
        padding-left: 101px;
        padding-right: 10px;
    }
    .desktop-1 {
        justify-content: space-between;
        width: 1155px;
        margin-left: 102px;
    }
    .about-myself {
        width: 1100px;
        margin-left: 110px;
    }
    .work {
        width: 1000px;
        margin-left: 110px;
    }
    .address span {
        margin-left: 106px;
    }
    footer {
        margin-left: 100px;
    }
}
@media (max-width:767px) {
    header {
        padding-left: 72px;
        padding-right: 25px;
    }
    .desktop-1 {
        width: 1143px;
        margin-left: 80px;
    }
    .about-myself,
    .work {
        margin-left: 85px;
    }
    footer {
        padding-right: 25px;
    }
}
@media (max-width:500px) {
    header {
        padding-left: 20px;
    }
    .conteiner {
        display: flex;
        justify-content: space-evenly;
    }
    header .nav-text a {
        font-size: 22px;
    }
    .desktop-1 {
        display: block;
        margin-left: 160px;
    }
    .greeting {
        width: 900px;
        font-size: 80px;
    }
    .portfolio-photo {
        margin-top: 50px;
        margin-left: 160px;
    }
    .portfolio-photo img {
        width: 600px;
        height: 600px;
    }
    .desktop-2 {
        margin-top: 100px;
    }
    .about-myself, .work {
        margin-left: 125px;
        margin-bottom: 60px;
    }
    .about-myself h2,
    .work h2 {
        font-size: 57px;
    }
    .about-myself p {
        font-size: 30px;
        line-height: 150%;
    }
    .work {
        width: 1065px;
    }
    .job-title {
        font-size: 30px;
    }
    .marker button {
        font-size: 17px;
        width: 92px;
        height: 32px;
    }
    .name, .address, .data {
        font-size: 17px;
    }
    footer {
        width: 1100px;
        margin-left: 116px;
    }
    footer .part-1 {
        justify-content: space-between;
    }
    footer .contacts a {
        font-size: 21px;
    }
    .nav-img a svg {
        width: 40px;
        height: 40px;
    }
    footer .nav-text a {
        font-size: 21px;
        padding-right: 25px;
    }
    footer .copywrite {
        font-size: 21px;
    }
}


