
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --background-light: #ffffff;
  --text-light: #666666;
  --background-dark: #191919;
  --text-dark: #CCC;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--background-light);
    color: var(--text-light);
    line-height: 130%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}
h2 {
    color: #42446E;
    font-size: 42px;
    font-weight: 700;
    line-height: 123.81%;
    letter-spacing: -0.4px;
}
h3 {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1px;
}
p {
    font-size: 18px;
    line-height: 144.444%;
}
header {
    width: 100%;
    padding: 27px 163px 0 126px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
}
.header-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #fff;
}
.header-item,
.header-social,
.footer-social {
    display: flex;
}
.header-item,
.header-social {
  align-items: center;
}
.header-item {
    gap: 47px;
    margin-left: 213px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
}
.header-social,
.footer-social {
    gap: 20px;
    /*margin: 12px;*/
}
.header-social a,
.footer-social a {
    fill: #666666;
}
.header-item a:hover {
    color: #0a0a0af1;
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    border-radius: 10px;
}
.header-social a svg,
.footer-top a svg {
    width: 30px;
    height: 30px;
}
.header-social a:hover,
.footer-social a:hover {
    fill:  #13B0F5;
}
.toggle{display:block;text-align:center;user-select:none}
.toggle--checkbox{display:none}
.toggle--btn{display:block;margin:0 auto;font-size:1.4em;transition:all 350ms ease-in}
.toggle--btn:hover{cursor:pointer}
.toggle--btn,.toggle--btn:before,.toggle--btn:after,.toggle--checkbox,.toggle--checkbox:before,.toggle--checkbox:after,.toggle--feature,.toggle--feature:before,.toggle--feature:after{transition:all 250ms ease-in}
.toggle--btn:before,.toggle--btn:after,.toggle--checkbox:before,.toggle--checkbox:after,.toggle--feature:before,.toggle--feature:after{content:'';display:block}
.toggle--daynight .toggle--btn,.toggle--like .toggle--btn{position:relative;height:70px;width:125px;border-radius:70px}
.toggle--daynight .toggle--btn:before,.toggle--like .toggle--btn:before{position:absolute;top:2px;left:4px;width:56px;height:56px;border-radius:50%}
.toggle--daynight .toggle--btn{border:5px solid #1c1c1c;background-color:#3c4145}
.toggle--daynight .toggle--btn:before{background-color:#fff;border:5px solid #e3e3c7}
.toggle--daynight .toggle--btn:after{position:absolute;top:62%;left:39px;z-index:10;width:11.2px;height:11.2px;opacity:0;background-color:#fff;border-radius:50%;box-shadow:#fff 0 0,#fff 3px 0,#fff 6px 0,#fff 9px 0,#fff 11px 0,#fff 14px 0,#fff 16px 0,#fff 21px -1px 0 1px,#fff 16px -7px 0 -2px,#fff 7px -7px 0 1px,#d3d3d3 0 0 0 4px,#d3d3d3 6px 0 0 4px,#d3d3d3 11px 0 0 4px,#d3d3d3 16px 0 0 4px,#d3d3d3 21px -1px 0 5px,#d3d3d3 16px -7px 0 1px,#d3d3d3 7px -7px 0 5px;transition:opacity 100ms ease-in}
@keyframes starry_star {
50%{background-color:rgba(255,255,255,0.1);box-shadow:#fff 30px -3px 0 0,#fff 12px 10px 0 -1px,rgba(255,255,255,0.1) 38px 18px 0 1px,#fff 32px 34px 0 0,rgba(255,255,255,0.1) 20px 24px 0 -1.5px,#fff 5px 38px 0 1px}
}
@keyframes bounceIn {
0%{opacity:0;transform:scale(0.3)}
50%{opacity:100;transform:scale(1.1)}
55%{transform:scale(1.1)}
75%{transform:scale(0.9)}
100%{opacity:100;transform:scale(1)}
}
.toggle--daynight .toggle--feature{display:block;position:absolute;top:9px;left:52.5%;z-index:20;width:4px;height:4px;border-radius:50%;background-color:#fff;box-shadow:rgba(255,255,255,0.1) 30px -3px 0 0,rgba(255,255,255,0.1) 12px 10px 0 -1px,#fff 38px 18px 0 1px,rgba(255,255,255,0.1) 32px 34px 0 0,#fff 20px 24px 0 -1.5px,rgba(255,255,255,0.1) 5px 38px 0 1px;animation:starry_star 5s ease-in-out infinite}
.toggle--daynight .toggle--feature:before{position:absolute;top:-2px;left:-25px;width:18px;height:18px;background-color:#fff;border-radius:50%;border:5px solid #e3e3c7;box-shadow:#e3e3c7 -28px 0 0 -3px,#e3e3c7 -8px 24px 0 -2px;transform-origin:-6px 130%}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn{background-color:#9ee3fb;border:5px solid #86c3d7}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn:before{left:55px;background-color:#ffdf6d;border:5px solid #e1c348}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn:after{opacity:100;animation-name:bounceIn;animation-duration:.6s;animation-delay:.1s;animation-fill-mode:backwards;animation-timing-function:ease-in-out}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn > .toggle--feature{opacity:0;box-shadow:rgba(255,255,255,0.1) 30px -3px 0 -4px,rgba(255,255,255,0.1) 12px 10px 0 -5px,#fff 38px 18px 0 -3px,rgba(255,255,255,0.1) 32px 34px 0 -4px,#fff 20px 24px 0 -5.5px,rgba(255,255,255,0.1) 5px 38px 0 -3px;animation:none}
.toggle--daynight .toggle--checkbox:checked + .toggle--btn > .toggle--feature:before{left:25px;transform:rotate(70deg)}

.greeting {
    display: flex;
    justify-content: space-around;
    margin-top: 290px;
}
.greeting-text {
    color: #42446E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    font-size: 58px;
    font-weight: 700;
    line-height: 120.69%;
    letter-spacing: 0.02em;
}
.greeting-text span {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.greeting-foto img {
    width: 349px;
    height: 349px;
}
.about {
    margin: 124px 627px 0 124px;
}
.about-work-all,
.about-education-all {
    border-bottom: 2px solid #EBEAED;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.about-work-position,
.about-work-adress,
.about-education-position,
.about-education-adress {
    display: flex;
    justify-content: space-between;
}
.about-work-position p,
.about-education-position p {
    color:#018C0F;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
    line-height: 2.7em;
    background: #D7FFE0;
    width: 84px;
    height: 24px;
    border-radius: 100px;
    margin: auto 0;
}
.about-work-adress,
.about-education-adress {
    color:#A7A7A7;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.33em;
    letter-spacing: 1px;
    margin-top: -15px;
}
.tech-stack {
    margin-top: 175px;
}
.tech-stack h2 {
    text-align: center;
    font-size: 48px;
    line-height: 0.54em;  
    -webkit-text-stroke: 2px #000000;
    margin-bottom: 50px
}
.tech-stack h3 {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.81em;
}
.first-img,
.second-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.first-img {
    margin: 120px 45px 78px 0;
}
.second-img {
    margin-right: 45px;
}
.projects {
    margin-top: 175px;;
}
.projects h2 {
    text-align: center;
    font-size: 48px;
    line-height: 0.54em;  
    -webkit-text-stroke: 1px #42446E;
    margin-bottom: 50px
}
.projects h3 {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.81em;
    margin-bottom: 80px;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 132px 0 91px;
    justify-content: space-around;
}
.projects-block {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
    width: 373px;
    height: 567px;
    margin-bottom: 62px;
}
.projects-img img {
    width: 373px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;   
}
.projects-text h3 {
    color: #000;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 0.92em;
    margin-bottom: 17px;
}
.projects-text p {
    font-weight: 300;
    margin: 10px 30px 9px;
}
.skill-text {
    font-size: 16px;
    color: #42446E;
    line-height: 1.62em;
}
.skill-text span {
    color: #42446E;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85em;
}
.projects-text a {
    color: #000;
    padding-right: 29px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62em;
    text-decoration-line: underline;
}
.projects-text svg {
    margin-left: 30px;
}
.info {
    margin-top: 165px;
}
.info h2 {
    color:#1E0E62;
    text-align: center;
    font-family: DM Sans;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.05em;
}
.info a {
    font-family: DM Sans;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -1px;
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-mail {
    margin: 0 562px 280px;
}
footer {
    width: 100%;
    padding: 27px 147px 0 126px;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(102, 102, 102, 0.3);
    padding-bottom: 42px;
}
.footer-top svg {
  fill: #42446E;
}
.footer-top .tel {
    padding-left: 485px
}
.footer-top .tel:hover,
.footer-top .mail:hover {
    color: #13B0F5;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-bottom p span {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-item {
    display: flex;
    color: #42446E;
    font-family: DM Sans;
    font-size: 18px;
    line-height: 1.44em;
    gap: 52px;
    margin-left: -38px;
}
body.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
body.dark-theme .header-nav {
  background: #191919;
}
body.dark-theme a {
  color: #A7A7A7;
}
body.dark-theme h2 {
  color:#CCC;
}
body.dark-theme h3 {
  color: #A7A7A7;
}
body.dark-theme .greeting-text {
  color: #D9D9D9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body.dark-theme .projects-block {
  background: #363636;
}
body.dark-theme .skill-text,
body.dark-theme .skill-text span {
  color: #CCC;
}
body.dark-theme .second-img svg,
body.dark-theme .projects-text svg {
  fill: #fff;
}
body.dark-theme .footer-top svg {
  fill: #A7A7A7;
}

/* */
@media (max-width:1400px) {
    header {
    padding: 27px 105px 0 65px;
  }
  .header-item {
    margin-left: 100px;
  }
  footer {
    width: 100%;
    padding: 27px 89px 0 80px;
  }
  .footer-top .tel {
    padding-left: 395px;
  }
  .info-mail {
    margin: 0 37% 14%;
  }
  .projects-list {
    margin: 0 99px 0 76px;
  }
  .first-img {
    margin: 120px 0px 78px -30px;
  }
  .second-img {
    margin-right: 9px;
    margin-left: -29px;
  }
}
@media (max-width:1200px) {
    header {
    padding: 27px 44px 0 87px;
  }
  .header-item {
    margin-left: 60px;
    font-size: 18px;
    gap: 25px;
  }
  .greeting {
    margin-top: 258px;
  }
  .greeting-text {
    font-size: 48px;
  }
  .greeting-foto img {
    width: 300px;
    height: 300px;
  }
  .about {
    margin: 124px 401px 0 86px;
  }
  .first-img {
    margin: 120px -7px 78px -1px;
  }
  .second-img {
    margin-right: -7px;
    margin-left: -6px;
  }
  .info h2 {
    font-size: 52px;
  }
  .info a {
    font-size: 54px;
  }
   footer {
    padding: 27px 29px 0 80px;
  }
  .footer-top {
    padding-bottom: 23px;
  }
  .footer-bottom {
    margin-top: 20px;
  }
  .footer-item {
    font-size: 16px;
    gap: 29px;
  }
  .footer-bottom p {
    font-size: 16px;
  }
  .footer-top .tel {
    padding-left: 225px;
    font-size: inherit;
  }
}
@media (max-width:975px) {
    header {
       padding: 27px 22px 0 49px;
   }
   header img,
   footer img {
       width: 85px;
       height: 55px;
   }
   .header-item {
       font-size: 16px;
       gap: 16px;
       margin-left: 34px;
   }
   .header-social a svg, 
   .footer-top a svg {
      width: 27px;
      height: 27px;
   }
   .greeting {
      margin-top: 215px;
   }
   .greeting-text {
      font-size: 40px;
   }
   .greeting-foto img {
      width: 230px;
      height: 230px;
   }
   .about {
      margin: 89px 154px 0 50px;
   }
   .tech-stack h3 {
      font-size: 28px;
   }
   .first-img {
      margin: 75px 5px 70px 0px;
   }
   .first-img img,
   .second-img img {
      width: 85px;
      height: 85px;
   }
   .second-img {
      margin-right: 0;
      margin-left: 5px;
   }
   .projects {
      margin-top: 138px;
   }
   .projects h3 {
      font-size: 30px;
      margin-bottom: 65px;
   }
   .projects-list {
      margin: 0;
   }
   .projects h3 {
      font-size: 27px;
      margin-bottom: 22px;
   }
   .projects-text p {
      font-size: 16px;
      margin: 0 20px 9px;
   }
   .projects-block {
      width: 346px;
      height: 530px;
   }
   .projects-img img {
      width: 346px;
      height: 246px;
   }
   .projects-text a {
      padding-right: 13px;
      font-size: 14px;
    }
    .info {
      margin-top: 81px;
    }
    .info h2 {
      font-size: 48px;
    }
    .info-mail {
      margin: 0px 36% 12%;
    }
    .info a {
      font-size: 50px;
    }
    footer {
      padding: 27px 25px 0 46px;
    }
    .footer-top {
      padding-bottom: 8px;
    }
    .footer-item {
      font-size: 14px;
      gap: 18px;
    }
    .footer-bottom p {
      font-size: 14px;
    }
    .footer-top .tel {
      padding-left: 166px;
      font-size: 14px;
    }
    .footer-top .mail {
        font-size: 14px;
    }
}
@media (max-width:790px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  header img, 
  footer img {
    width: 75px;
    height: 45px;
  }
  .header-item {
    font-size: 15px;
    gap: 10px;
    margin-left: 18px;
  }
  .header-social, 
  .footer-social {
    gap: 10px;
  }
  .greeting {
    margin-top: 206px;
  }
  .greeting-text {
    font-size: 36px;
  }
  .greeting-foto img {
    width: 200px;
    height: 200px;
  }
  .about {
    margin: 89px 62px 0 36px;
  }
  .about-work-all, 
  .about-education-all {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  .about-work-position p, 
  .about-education-position p {
    font-size: 8px;
    width: 76px;
    height: 22px;
  }
  .about-work-adress, 
  .about-education-adress {
    font-size: 10px;
    margin-top: -5px;
  }
  .tech-stack {
    margin-top: 120px;
  }
  .tech-stack h2 {
    font-size: 40px;
  }
  .tech-stack h3 {
    font-size: 22px;
  }
  .first-img {
    margin: 75px 0 70px 0;
  }
  .first-img img, 
  .second-img img {
    width: 75px;
    height: 75px;
  }
  .second-img {
    margin-left: 0;
  }
  .projects {
    margin-top: 109px;
  }
  .projects h2 {
    font-size: 40px;
  }
  .projects h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .projects-block {
    width: 338px;
    height: 516px;
  }
  .projects-img img {
    width: 338px;
    height: 236px;
  }
  .projects-text p {
    font-size: 15px;
    margin: 0px 13px 15px;
  }
  .info h2 {
    font-size: 40px;
  }
  .info-mail {
    margin: 0px 31% 10%;
  }
  .info a {
    font-size: 43px;
  }
  .footer-top .tel {
    padding-left: 105px;
    font-size: 12px;
  }
  .footer-top .mail {
    font-size: 12px;
  }
  .footer-top {
    padding-bottom: 5px;
  }
  .footer-bottom {
    margin-top: 5px;
  }
  .footer-item {
    font-size: 12px;
    gap: 10px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
}
@media (max-width:665px) {
  .header-nav {
    display: block;
  }
  header img, footer img {
    width: 85px;
    height: 55px;
    margin-left: 40px;
  }
  .header-item {
    font-size: 15px;
    gap: 20px;
    margin-left: 0px;
  }
  .header-social {
    gap: 44px;
  }
  .greeting {
    display: block;
    margin: 250px 0 70px 86px;
  }
  .greeting-text {
    font-size: 40px;
    margin-bottom: 27px;
 }
 .greeting-foto {
    margin-left: 16%;
 }
 .greeting-foto img {
    width: 300px;
    height: 300px;
  }
  .about {
    margin: 0 15px;
  }
  h2 {
    text-align: center;
    font-size: 38px;
  }
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 16px;
  }
  .about-work-adress, 
  .about-education-adress {
    font-size: 9px;
    margin-top: 0px;
  }
  .about-work-all, 
  .about-education-all {
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
  .tech-stack {
    margin-top: 86px;
  }
  .tech-stack h2 {
    font-size: 38px;
  }
  .tech-stack h3 {
    font-size: 18px;
  }
  .first-img,
  .second-img {
      display: block;
      column-count: 3;
      margin: 25px 0 0 55px;
    }
  .first-img img, 
  .second-img img {
    width: 85px;
    height: 85px;
    margin-bottom: 17px;
  }
  .projects {
    margin-top: 82px;
  }
  .projects h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .projects h3 {
    font-size: 20px;
    margin-bottom: 27px;
  }
  .info {
    margin-top: 30px;
  }
  .info h2 {
    font-size: 30px;
  }
  .info a {
    font-size: 32px;
  }
  .info-mail {
    margin: 0px 32% 10%;
  }
  .footer-top {
    display: block;
    column-count: 1;
  }
  .footer-top .tel {
    padding-left: 14%;
    font-size: 12px;
  }
  .footer-top .mail {
    font-size: 12px;
    padding-left: 14%;
  }
  .footer-social {
    gap: 85px;
    margin-left: 37%;
  }
  .footer-bottom {
    display: block;
  }
}
@media (max-width:567px) {
  .greeting-foto {
    margin-left: 11%;
  }
  .info h2 {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .info-mail {
    margin: 0px 30% 10%;
  }
  footer img {
    margin-left: 6%;
  }
  .footer-top .tel {
    padding-left: 0;
    margin-left: 10%;
  }
  .footer-top .mail {
    padding-left: 0;
    margin-left: 17%;
  }
  .footer-social {
    gap: 44px;
    margin-left: 0;
  }
  .footer-top .tel {
    margin-left: 7%;
    display: block;
  }
  .footer-bottom {
    margin-left: 7%;
  }
  .footer-top .mail {
    padding-left: 0;
    margin-left: 7%;
  }
}
@media (max-width:470px) {
  header {
    padding: 27px 0 0 0;
  }
  .header-item {
    font-size: 12px;
    gap: 20px;
  }
  .greeting {
    margin: 250px 0 70px 25px;
  }
  .greeting-text {
    font-size: 36px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 12px;
  }
  .tech-stack h2 {
    font-size: 34px;
  }
  .tech-stack h3 {
    font-size: 15px;
  }
  .first-img img, 
  .second-img img {
    width: 75px;
    height: 75px;
  }
  .projects {
    margin-top: 68px;
  }
  .projects h2 {
    font-size: 35px;
  }
  .projects h3 {
    font-size: 17px;
  }
  .projects-block {
    width: 325px;
    height: 457px;
  }
  .projects-img img {
    width: 325px;
    height: 222px;
  }
  .projects-text p {
    font-size: 12px;
    margin: 0px 24px 14px;
  }
  .projects-text a {
    padding-right: 13px;
    font-size: 12px;
  }
  .info h2 {
    font-size: 26px;
  }
  .info a {
    font-size: 25px;
  }
  .info-mail {
    margin: 0px 33% 10%;
  }
  footer {
    padding: 27px 0 0 0;
  }
}